body {
  display: flex;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  min-height: 100VH;

}

html{
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  min-height: 100VH
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, html, #root{
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  min-height: 100VH
}
